<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net472" requireReinstallation="true" />
  <package id="DynamoVisualProgramming.Core" version="2.0.4.11375" targetFramework="net472" />
  <package id="DynamoVisualProgramming.DynamoCoreNodes" version="2.0.4.11375" targetFramework="net472" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.0.4.11375" targetFramework="net472" />
  <package id="DynamoVisualProgramming.WpfUILibrary" version="2.0.4.11375" targetFramework="net472" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.0.4.11375" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net472" />
  <package id="NUnit" version="2.6.3" targetFramework="net472" />
  <package id="Prism" version="4.1.0.0" targetFramework="net472" />
  <package id="RestSharp" version="106.12.0" targetFramework="net472" />
  <package id="Revit_All_Main_Versions_API_x64" version="2019.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
</packages>