<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.94.2" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net48" />
  <package id="DynamoVisualProgramming.Core" version="2.17.0.3472" targetFramework="net48" />
  <package id="DynamoVisualProgramming.DynamoCoreNodes" version="2.17.0.3472" targetFramework="net48" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.17.0.3472" targetFramework="net48" />
  <package id="DynamoVisualProgramming.WpfUILibrary" version="2.17.0.3472" targetFramework="net48" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.17.0.3472" targetFramework="net48" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.0.7" targetFramework="net48" />
  <package id="FastMember" version="1.5.0" targetFramework="net48" />
  <package id="FastMember.Signed" version="1.5.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net48" />
  <package id="LumenWorksCsvReader" version="4.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NUnit" version="2.6.3" targetFramework="net48" />
  <package id="Prism" version="4.1.0.0" targetFramework="net48" />
  <package id="RestSharp" version="105.2.3" targetFramework="net48" />
  <package id="Revit_All_Main_Versions_API_x64" version="2024.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="WeCantSpell.Hunspell" version="3.0.1" targetFramework="net48" />
</packages>