<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.93.1" targetFramework="net471" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" requireReinstallation="true" />
  <package id="DynamoVisualProgramming.Core" version="2.0.0.4714" targetFramework="net471" />
  <package id="DynamoVisualProgramming.DynamoCoreNodes" version="2.0.0.4714" targetFramework="net452" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.0.0.4714" targetFramework="net452" />
  <package id="DynamoVisualProgramming.WpfUILibrary" version="2.0.0.4714" targetFramework="net471" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.0.0.4714" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.0.3" targetFramework="net471" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net471" />
  <package id="FastMember.Signed" version="1.3.0" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.5.5" targetFramework="net452" />
  <package id="LumenWorksCsvReader" version="3.9.1" targetFramework="net452" />
  <package id="NUnit" version="2.6.3" targetFramework="net471" />
  <package id="Prism" version="4.1.0.0" targetFramework="net471" />
  <package id="RestSharp" version="105.2.3" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net471" />
</packages>